@media screen and (orientation:landscape){
    body{
        height: 90vh;
    }
    main{
        height: 100%;
        width: 80vw;
        justify-content: space-between;
    }
    h1{
        font-size: 3.5rem;
        display: block;
    }
    .pantalla-inicial{
        display: flex;
    }
    h3{
        font-size: 2rem;
    }
    .seleccion-pareja{
        display: flex;
    }
    .seleccion-juegos{
        width: 50%;
    }
    .seleccion-juegos .btn{
        height: 4rem;
    }
    .div-pareja{
        width: 50%;
    }
    .sobre-estos-juegos{
        margin-bottom: 3rem;
        width: fit-content;
        align-self: center;
    }

    .h2juegos{
        font-size: 3rem;
        margin: 1rem 0;
    }
    .section-juego-ahorcado{
        height: 90%;
    }

    .ahorcado-img-palabra{
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: center;
        align-items: center;
    }
    .div-imagen-ahorcado{
        width: 40%;
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div-palabra{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .botones-juego .btn{
        height: 4rem;
    }
    #btn-letra{
        height: 4rem;
        width: 4rem;       
    }


    .section-juego-memoria{
        height: 100%;
        align-items: center;
    }

    .secciones-memoria{
        flex-direction: row;
        width: 80%;
    }
    .section1-memoria{
        justify-content: flex-start;
        width: 100%; 
    }
    .tabla-memoria{
        width: 90%; 
        height: 70vh;
    }
    .div-btn-memo{
        height: 17vh;
        max-height: 12rem;
    }
    .btn-memo{
        width: 15vh;
        height: 15vh;
        max-width: 11rem;
        max-height: 11rem;

    }
    .section2-memoria{
        justify-content: center;
        width: 30%;
        height: 70vh;
    }
    .nuevo-memo, .volver-memo{
        width: 100%;
    }
    .estadisticas{
        height: 5rem;
    }


    .section-quiz-novios .btn, .fin-quiz .btn{
        width: 40%;
    }

    .section-sobre{
        height: 98%;
    }
    .presentacion-form{
        flex-direction: row;
    }
    .presentacion-form p{
        display: flex;
        justify-self: center;
        text-align: center;
    }
    form{
        width: 60%;

    }
    

}