.section-quiz-novios{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 2rem;
}

.h2-preguntas-respuestas{
    width: 100%;
}
.seleccion-quizes{
    display: none;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.quiz-preguntas1, .quiz-preguntas2{
    display: none;
    flex-direction: column;
}

.p-pregunta-quiz, .p-pregunta-quiz-2{
    text-align: center;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    margin: 1rem 0;
}
.opciones-quiz{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;;
}
.opcion-quiz{
    width: 75%;
    font-size: 1.6rem;
}
.opcionCorrecta{
    border: ridge 2px #32ffb795;
}
.opcionIncorrecta{
    border: ridge 2px #ff326295;
}
.rendirse-quiz{
    width: 40%;
    border: ridge #2b2b2b50 1px;
    background-color: #2b2b2b10;
    margin: 0.4rem 0.3rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #2b2b2b80;
}
.fin-quiz{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
.p-fin-quiz{
    font-size: 1.9rem;
    font-style: italic;
    text-align: center;
    display: block;
    width: 100%;
    margin: 1rem;
    line-height: 2.5rem;
}
.botones-fin-quiz{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.volver-quiz, .nuevo-quiz{
    width: 40%;
    margin: 1rem;
}